<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>服务器设备监控管理系统</title>
    <link rel="stylesheet" href="./plugins/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./plugins/font-awesome/css/all.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/public.css">
    <style type="text/css">
        #groupTip {
            border: 1px solid #aaa;
            border-bottom: 0;
            background: #eee;
            position: absolute;
            list-style: none;
            margin: 0;
            padding: 0;
            display: none;
        }

        #groupTip li  {
            display: block;
            padding: 5px;
            ///border-bottom: 1px solid #aaa;
        }
    </style>
    <script src="./plugins/vue.js"></script>
    <script src="./plugins/element-ui/lib/index.js"></script>
    <script src="./plugins/axios.js"></script>
    <script src="./plugins/http.js"></script>
    <script src="./plugins/component/header.js"></script>
    <script src="./plugins/jquery.js"></script>
    <script src="./plugins/jtopo-0.4.8-min.js"></script>

    <script src="./js/index.js"></script>
    <script src="./js/websocket.js"></script>
</head>

<body>
<div id="app">
    <main-header>
    </main-header>
    <div class="financial-tool-download">

        <div class="title-word">

        </div>

        <div class="button-wrapper">

            <div class="button-wrapper-right">
                <div class="download-wrapper">
                    <el-button
                            plain
                            @click="bulkDownload()"
                            :disabled="downDisable"
                    >
                        <i class="fa fa-cloud-download-alt"></i>
                        所有设备组
                    </el-button>
                </div>
                <div class="summary-wrapper">
                    <el-button
                            type="primary"
                            @click="openUploadDialog()"
                    >
                        增加设备组
                    </el-button>
                </div>
                <div class="summary-wrapper">
                    <el-button
                            type="primary"
                            @click="openUploadDialog()"
                    >
                        增加设备
                    </el-button>
                </div>
                <div class="summary-wrapper">
                    <el-button
                            type="primary"
                            @click="saveLocation()"
                    >
                        保存位置
                    </el-button>
                </div>
                <div class="summary-wrapper">
                    <el-button
                            type="primary"
                            @click="fullScreen()"
                    >
                        全屏显示
                    </el-button>
                </div>
                <div class="summary-wrapper">
                    <el-button
                            type="primary"
                            @click="zoomOut()"
                    >
                        放大
                    </el-button>
                </div>
                <div class="summary-wrapper">
                    <el-button
                            type="primary"
                            @click="zoomIn()"
                    >
                        缩小
                    </el-button>
                </div>
                <div class="summary-wrapper">
                    <el-button
                            type="primary"
                            @click="saveTopoOfPic()"
                    >
                        导出图片
                    </el-button>
                </div>
            </div>
        </div>

        <!-- 上传弹窗 -->
        <el-dialog title="新建设备组" :visible.sync="dialogVisible" :close-on-click-modal="false" width="40%">
            <div class="content">
                <el-form :model="uploadForm" :rules="uploadRules" ref="uploadForm" label-width="100px"
                         class="demo-ruleForm">
                    <el-form-item label="设备组名称：" prop="companyValue">
                        <el-select clearable v-model="uploadForm.companyValue" placeholder="请选择"
                                   popper-class="company-select">
                            <el-option v-for="item in companyList" :key="item.id" :label="item.name"
                                       :value="item.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="月份：" prop="month">
                        <el-date-picker popper-class="financial-date-picker" v-model="uploadForm.month"
                                        value-format="yyyy-MM" type="month" placeholder="选择月">
                        </el-date-picker>
                    </el-form-item>

                </el-form>
            </div>

            <span slot="footer" class="dialog-footer">
                    <el-button :disabled="submitLoading" @click="dialogVisible = false">取 消</el-button>
                    <el-button :loading="submitLoading" type="primary" @click="submitUpload()">确 定</el-button>
                </span>
        </el-dialog>

    </div>


    <div id="content" style="margin-left: 40px;">
        <ul id="groupTip" style="display:none;">
            <li><a id="groupName"></a></li>
            <li ><a id="deviceNum"></a></li>
            <li><a id="oneLevelNum"></a></li>
            <li><a id="twoLevelNum"></a></li>
            <li><a id="threeLevelNum"></a></li>
            <li><a id="fourLevelNum"></a></li>
        </ul>
        <canvas width="1200" height="550" id="canvas"></canvas>
    </div>

</div>
</body>
<script>
    var _this = this;
    var app = new Vue({
        el: "#app",
        data: {
            month: "",
            downDisable: true,
            tableData: [],
            loading: false,
            multipleSelection: [],
            // 类型筛选
            fildType: '',
            dialogVisible: false,
            submitLoading: false,
            // 子公司
            uploadForm: {
                companyValue: null,
                month: null,
                "payFileId": "",
                "payFileName": "",
                "fundFileId": "",
                "fundFileName": ""
            },
            uploadRules: {
                companyValue: [
                    { required: true, message: "请选择", trigger: "change" }
                ],
                month: [
                    { required: true, message: "请选择", trigger: "change" }
                ],
            },
            fildTypeList: [],
            // 字典表相关
            companyList: [],
        },
        mounted() {
            //this.getFildType()
        },
        methods: {
            selectMonth(currentDate) {
                if (currentDate) {
                    this.getTableData()
                }

            },
            // 打开上传弹框
            openUploadDialog() {
                this.dialogVisible = true;
                this.uploadForm.payFileId = "";
                this.uploadForm.payFileName = "";
                this.uploadForm.fundFileId = "";
                this.uploadForm.fundFileName = "";
                this.uploadForm.month = "";
                this.uploadForm.companyValue = "";
                this.payFileList = [];
                this.fundFileList = [];
                this.$nextTick(() => {
                    this.$refs.uploadForm.resetFields();
                });
                this.getCompanyData();
            },
            saveLocation,
            fullScreen,
            saveTopoOfPic,
            zoomIn,
            zoomOut,
            getTableData() {
                this.loading = true;
                let params = {
                    month: this.month,
                    type: this.fildType
                };
                httpGet("/finaTool/uploadServer/downloadFileList", params, this, (err, res) => {
                    this.loading = false;
                    if (!err) {
                        if (0 === res.code) {
                            this.tableData = res.result.list;
                            if (res.result.month) {
                                this.month = res.result.month
                            }

                        } else {
                            this.$message.error(res.resultMessage);
                        }
                    } else {
                        this.$message.error("获取下载列表数据失败");
                    }
                });
            },
            // 获取类型字典表数据

            // 批量下载
            bulkDownload() {
                var fileId = '';
                if (0 < this.multipleSelection.length) {
                    this.multipleSelection.forEach((item, index) => {
                        if (this.multipleSelection.length - 1 !== index) {
                            fileId += item.fileId + ','
                        } else {
                            fileId += item.fileId;
                        }
                    })
                    window.open(`/finaTool/uploadServer/downloads?fileIds=${fileId}`, "_blank");
                }

            },
            // 列表中的下载
            download(row) {
                window.open(`/finaTool/uploadServer/downloads?fileIds=${row.fileId}`, "_blank");
            },
            // table中的checkbox框
            selectRow(selection) {
                this.multipleSelection = selection;
                if (this.multipleSelection.length > 0) {
                    this.downDisable = false;
                } else {
                    this.downDisable = true;
                }
            },
            // 汇总
            summary() {
                window.location.href = `/summary.html?month=${this.month}`
            },
            fildTypeChange(val) {
                this.fildType = val;
                console.log('val', val)
                this.getTableData()
            }
        }
    })
</script>
<style>
    .financial-tool-download {
        padding: 0 32px 20px 40px;
    }

    .financial-tool-download .title-word {
        font-size: 18px;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: #384253;
        line-height: 18px;
        padding: 14px 0 11px;
    }

    .financial-tool-download .button-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .financial-tool-download .button-wrapper .btn-label {
        color: #8C98AD;
        font-size: 14px;
    }

    .financial-tool-download .button-wrapper-right {
        display: flex;
    }

    .download-wrapper button.el-button {
        color: #3A8DE3;
        border: 1px solid #3A8DE3;
    }

    .download-wrapper .el-button:hover {
        background: #3A8DE3;
        color: #fff;
    }

    .summary-wrapper {
        margin-left: 9px;
    }

</style>

</html>