<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>人力成本核算系统</title>
    <link rel="stylesheet" href="./plugins/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./plugins/font-awesome/css/all.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/public.css">
    <script src="./plugins/vue.js"></script>
    <script src="./plugins/element-ui/lib/index.js"></script>
    <script src="./plugins/axios.js"></script>
    <script src="./plugins/http.js"></script>
    <script src="./plugins/component/header.js"></script>
</head>

<body>
    <div id="app">
        <main-header>
        </main-header>
        <div class="pg-financial-upload">

            <div class="title-word">
                上传列表
            </div>
            <div class="button-wrapper">
                <div>
                    <span class="btn-label">
                        月份：
                    </span>
                    <el-date-picker v-model="month" type="month" placeholder="选择月" value-format="yyyy-MM"
                        @change="selectMonth" popper-class="financial-date-picker">
                    </el-date-picker>

                    <span class="btn-label" style="margin-left:10px;">
                        类型：
                    </span>
                    <el-select clearable v-model="type" placeholder="请选择" popper-class="company-select"
                        @change="changeType">
                        <el-option v-for="item in TypeList" :key="item.id" :label="item.name" :value="item.id">
                        </el-option>
                    </el-select>
                </div>
                <div>
                    <el-button type="primary" @click="openUploadDialog()">
                        <i class="fas fa-upload"></i>
                        上传
                    </el-button>
                </div>
            </div>
            <el-table :data="tableData" tooltip-effect="light" border v-loading="loading">
                <el-table-column min-width="20%" label="所属母公司" show-overflow-tooltip prop="parentCompany">
                </el-table-column>
                <el-table-column min-width="20%" label="分子公司" show-overflow-tooltip prop="companyName">
                </el-table-column>
                <el-table-column min-width="15%" label="上传时间" show-overflow-tooltip prop="uploadTime"></el-table-column>
                <el-table-column min-width="10%" label="上传人" show-overflow-tooltip prop="uploader"></el-table-column>
                <el-table-column min-width="10%" label="类型" show-overflow-tooltip prop="typeName"></el-table-column>
                <el-table-column min-width="10%" label="操作">
                    <template slot-scope="scope">
                        <el-tooltip content="下载" placement="top" effect="light">
                            <i @click="download(scope.row)" class="fas fa-download"></i>
                        </el-tooltip>
                    </template>
                </el-table-column>
            </el-table>
            <!-- 上传弹窗 -->
            <el-dialog title="上传" :visible.sync="dialogVisible" :close-on-click-modal="false" width="40%">
                <div class="content">
                    <el-form :model="uploadForm" :rules="uploadRules" ref="uploadForm" label-width="100px"
                        class="demo-ruleForm">
                        <el-form-item label="子公司：" prop="companyValue">
                            <el-select clearable v-model="uploadForm.companyValue" placeholder="请选择"
                                popper-class="company-select">
                                <el-option v-for="item in companyList" :key="item.id" :label="item.name"
                                    :value="item.id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="月份：" prop="month">
                            <el-date-picker popper-class="financial-date-picker" v-model="uploadForm.month"
                                value-format="yyyy-MM" type="month" placeholder="选择月">
                            </el-date-picker>
                        </el-form-item>
                        <el-form-item label="工资表：">
                            <el-upload class="upload-demo" :action="
                            `/finaTool/uploadServer/upload`
                                " :before-remove="beforeRemove" :on-remove="handlePayRemove"
                                :before-upload="beforeUpload" multiple accept=".xlsx,.xls" :limit="1"
                                :on-exceed="handleExceed" :file-list="payFileList" :on-success="handlePaySuccess"
                                :on-error="uploadError">
                                <el-button size="small" type="plain">上传</el-button>
                                <div slot="tip" class="el-upload__tip">
                                    只支持上传xls/xlsx文件。
                                </div>
                            </el-upload>
                        </el-form-item>
                        <el-form-item label="社保公积金：">
                            <el-upload class="upload-demo" :action="
                            `/finaTool/uploadServer/upload`
                                " :before-remove="beforeRemove" :on-remove="handleFundRemove"
                                :before-upload="beforeUpload" multiple accept=".xlsx,.xls" :limit="1"
                                :on-exceed="handleExceed" :file-list="fundFileList" :on-success="handleFundSuccess"
                                :on-error="uploadError">
                                <el-button size="small" type="plain">上传</el-button>
                                <div slot="tip" class="el-upload__tip">
                                    只支持上传xls/xlsx文件。
                                </div>
                            </el-upload>
                        </el-form-item>
                    </el-form>
                </div>

                <span slot="footer" class="dialog-footer">
                    <el-button :disabled="submitLoading" @click="dialogVisible = false">取 消</el-button>
                    <el-button :loading="submitLoading" type="primary" @click="submitUpload()">确 定</el-button>
                </span>
            </el-dialog>
        </div>
    </div>

</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            month: '',
            type: '',
            tableData: [
                // {
                //     companyName: "子公司名称",
                //     month: "文件中的表示的月份",
                //     fileName: "文件名",
                //     uploadTime: "上传时间",
                //     fileId: "文件id(下载id)"
                // },
            ],
            loading: false,
            dialogVisible: false,
            // 子公司
            uploadForm: {
                companyValue: null,
                month: null,
                "payFileId": "",
                "payFileName": "",
                "fundFileId": "",
                "fundFileName": ""
            },
            // 工资上传表
            payFileList: [],
            // 公积金上传表
            fundFileList: [],
            uploadRules: {
                companyValue: [
                    { required: true, message: "请选择", trigger: "change" }
                ],
                month: [
                    { required: true, message: "请选择", trigger: "change" }
                ],
            },
            // 字典表相关
            companyList: [],
            TypeList: [],
            submitLoading: false
        },
        mounted() {
            this.getTypeList();
        },
        methods: {
            selectMonth(currentDate) {
                this.getTableData();
            },
            changeType() {
                this.getTableData();
            },
            // 获取列表数据
            getTableData() {
                this.loading = true;
                let params = {
                    type: this.type
                };
                if (this.month) {
                    params.month = this.month;
                }
                httpGet(
                    "/finaTool/uploadServer/uploadFileList",
                    params,
                    this,
                    (err, res) => {
                        this.loading = false;
                        if (!err) {
                            if (0 === res.code) {
                                this.tableData = res.result.list;
                                if (res.result.month) {
                                    this.month = res.result.month;
                                }
                            } else {
                                this.$message.error(res.resultMessage);
                            }
                        } else {
                            this.$message.error("获取列表数据失败");
                        }
                    }
                );
            },
            // 获取子公司字典表数据
            getCompanyData() {
                httpGet(
                    "/financial/dict/subCompany",
                    {},
                    this,
                    (err, res) => {
                        if (!err) {
                            if (0 === res.code) {
                                this.companyList = res.result.list;
                            } else {
                                this.$message.error(res.resultMessage);
                            }
                        } else {
                            this.$message.error("获取子公司字典数据失败");
                        }
                    }
                );
            },
            // 文件类型字典（类型包括全部、工资表、社保公积金三类）
            getTypeList() {
                httpGet(
                    "/financial/dict/fileType",
                    {},
                    this,
                    (err, res) => {
                        if (!err) {
                            if (0 === res.code) {
                                this.TypeList = res.result.list;
                                res.result.list.forEach(item => {
                                    if (-1 < item.name.indexOf('全部')) {
                                        this.type = item.id
                                    }
                                })
                                this.getTableData()
                            } else {
                                this.$message.error(res.resultMessage);
                            }
                        } else {
                            this.$message.error("获取文件类型字典数据失败");
                        }
                    }
                );
            },
            // 打开上传弹框
            openUploadDialog() {
                this.dialogVisible = true;
                this.uploadForm.payFileId = "";
                this.uploadForm.payFileName = "";
                this.uploadForm.fundFileId = "";
                this.uploadForm.fundFileName = "";
                this.uploadForm.month = "";
                this.uploadForm.companyValue = "";
                this.payFileList = [];
                this.fundFileList = [];
                this.$nextTick(() => {
                    this.$refs.uploadForm.resetFields();
                });
                this.getCompanyData();
            },
            // 下载某个文件
            download(row) {
                window.open(
                    `/finaTool/uploadServer/downloads?fileIds=${row.fileId}`,
                    "_blank"
                );
            },
            //上传成功
            handlePaySuccess(response, file, fileList) {
                let urls = [];
                fileList.forEach(item => {
                    if (item.response && item.response.code === 0) {
                        let obj1 = item.response.result;
                        obj1.name = item.response.result.fileName;
                        urls.push(obj1);
                    }
                });
                this.payFileList = urls;
                if (this.payFileList && this.payFileList.length > 0) {
                    this.uploadForm.payFileId = this.payFileList[0].fileId;
                    this.uploadForm.payFileName = this.payFileList[0].fileName;
                }
            },
            handleFundSuccess(response, file, fileList) {
                let urls = [];
                fileList.forEach(item => {
                    if (item.response && item.response.code === 0) {
                        let obj1 = item.response.result;
                        obj1.name = item.response.result.fileName;
                        urls.push(obj1);
                    }
                });
                this.fundFileList = urls;
                if (this.fundFileList && this.fundFileList.length > 0) {
                    this.uploadForm.fundFileId = this.fundFileList[0].fileId;
                    this.uploadForm.fundFileName = this.fundFileList[0].fileName;
                }
            },
            handleExceed() { },
            beforeUpload(file) {
                const isFile =
                    file.type ===
                    "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" ||
                    file.type === "application/vnd.ms-excel";
                if (!isFile) {
                    this.$message.error("上传文件只能是 xls/xlsx 格式!");
                }
                return isFile;
            },
            // 处理移除
            handlePayRemove(file, fileList) {
                this.payFileList = fileList;
                this.uploadForm.payFileId = "";
                this.uploadForm.payFileName = "";
            },
            handleFundRemove(file, fileList) {
                this.fundFileList = fileList;
                this.uploadForm.fundFileId = "";
                this.uploadForm.fundFileName = "";
            },
            beforeRemove() {
                return this.$confirm("此操作将删除该文件，是否继续？", "删除", {
                    confirmButtonText: "确定",
                    cancelButtonText: "取消",
                    type: "warning"
                });
            },
            uploadError() {
                this.$message.error("上传失败，请重试");
            },
            submitUpload() {
                this.$refs.uploadForm.validate(valid => {
                    if (valid) {
                        let params = {
                            companyId: this.uploadForm.companyValue,
                            month: this.uploadForm.month,
                        };
                        if (this.uploadForm.payFileId || this.uploadForm.fundFileId) {
                            if (this.uploadForm.payFileId) {
                                params.payFileId = this.uploadForm.payFileId;
                                params.payFileName = this.uploadForm.payFileName;
                            }
                            if (this.uploadForm.fundFileId) {
                                params.fundFileId = this.uploadForm.fundFileId;
                                params.fundFileName = this.uploadForm.fundFileName;
                            }
                            this.submitLoading = true;
                            httpPost(
                                "/finaTool/uploadServer/submit",
                                params,
                                this,
                                (err, res) => {
                                    this.submitLoading = false;
                                    if (!err) {
                                        if (0 === res.code) {
                                            this.dialogVisible = false;
                                            this.payFileList = [];
                                            this.fundFileList = [];
                                            this.getTableData();
                                            this.$message.success("提交成功");
                                        } else {
                                            this.$message.error(res.resultMessage);
                                        }
                                    } else {
                                        this.$message.error("提交失败");
                                    }
                                }
                            );
                        } else {
                            this.$message.warning("请上传文件。");
                        }
                    } else {
                        return false;
                    }
                });
            }
        }
    })

</script>
<style>
    .pg-financial-upload {
        padding: 0 32px 20px 40px;
    }

    .pg-financial-upload .title-word {
        font-size: 18px;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: #384253;
        line-height: 18px;
        padding: 14px 0 11px;
    }

    .pg-financial-upload .el-button.el-button--plain {
        padding: 9px 20px;
        width: unset;
        color: #409eff;
        border-color: #409eff;
    }

    .pg-financial-upload .button-wrapper .btn-label {
        color: #8C98AD;
        font-size: 14px;
    }

    .pg-financial-upload .content {
        padding: 20px 40px;
    }

    .pg-financial-upload .dialog-footer {
        text-align: center;
    }

    .pg-financial-upload .el-table .fa-download {
        color: #409eff;
        cursor: pointer;
    }

    .pg-financial-upload .button-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .pg-financial-upload .el-dialog__body {
        padding: 10px 20px 0;
    }

    .pg-financial-upload .el-dialog__header {
        padding: 16px 25px 16px;
        border-bottom: 1px solid rgba(218, 223, 233, 1);
        font-size: 16px;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: #384253;

    }

    .pg-financial-upload .el-dialog__header .el-dialog__title {
        line-height: 16px;
        font-size: 16px;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: #384253;
    }

    .pg-financial-upload .el-dialog__header .el-dialog__headerbtn .el-dialog__close {
        font-size: 14px;
        font-weight: 600;
        color: #8c98ad;
    }

    .el-dialog .el-dialog__footer {
        text-align: center;
    }

    .el-dialog input.el-input__inner {
        border: 1px solid #dcdfe6;
        background: #fff;
        color: #606266;
        height: 32px;
        line-height: 32px;
    }

    .el-dialog div.el-date-editor.el-input,
    .el-dialog div.el-date-editor.el-input__inner {
        width: 220px;
    }

    .el-dialog .el-input__icon {
        line-height: 32px;
    }

    div.el-select-dropdown.company-select {
        background: #fff;
        border: 1px solid #e4e7ed;
        border-radius: 5px;
    }

    div.el-select-dropdown.company-select .el-select-dropdown__item {
        color: #606266;
    }

    div.el-select-dropdown.company-select .el-select-dropdown__item:hover {
        color: #409eff;
    }
</style>

</html>