<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.tanhao1410.thesis.management.mapper.MonitoringItemDOMapper">
  <resultMap id="BaseResultMap" type="com.github.tanhao1410.thesis.management.domain.MonitoringItemDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="device_id" jdbcType="BIGINT" property="deviceId" />
    <result column="monitoring_id" jdbcType="BIGINT" property="monitoringId" />
    <result column="threshold" jdbcType="VARCHAR" property="threshold" />
    <result column="param" jdbcType="VARCHAR" property="param" />
    <result column="alarm_condition" jdbcType="VARCHAR" property="alarmCondition" />
  </resultMap>
  <sql id="Base_Column_List">
    id, device_id, monitoring_id, threshold, param, alarm_condition
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from monitoring_item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from monitoring_item
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.github.tanhao1410.thesis.management.domain.MonitoringItemDO">
    insert into monitoring_item (id, device_id, monitoring_id, 
      threshold, param, alarm_condition
      )
    values (#{id,jdbcType=BIGINT}, #{deviceId,jdbcType=BIGINT}, #{monitoringId,jdbcType=BIGINT}, 
      #{threshold,jdbcType=VARCHAR}, #{param,jdbcType=VARCHAR}, #{alarmCondition,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.github.tanhao1410.thesis.management.domain.MonitoringItemDO">
    insert into monitoring_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deviceId != null">
        device_id,
      </if>
      <if test="monitoringId != null">
        monitoring_id,
      </if>
      <if test="threshold != null">
        threshold,
      </if>
      <if test="param != null">
        param,
      </if>
      <if test="alarmCondition != null">
        alarm_condition,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="deviceId != null">
        #{deviceId,jdbcType=BIGINT},
      </if>
      <if test="monitoringId != null">
        #{monitoringId,jdbcType=BIGINT},
      </if>
      <if test="threshold != null">
        #{threshold,jdbcType=VARCHAR},
      </if>
      <if test="param != null">
        #{param,jdbcType=VARCHAR},
      </if>
      <if test="alarmCondition != null">
        #{alarmCondition,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.github.tanhao1410.thesis.management.domain.MonitoringItemDO">
    update monitoring_item
    <set>
      <if test="deviceId != null">
        device_id = #{deviceId,jdbcType=BIGINT},
      </if>
      <if test="monitoringId != null">
        monitoring_id = #{monitoringId,jdbcType=BIGINT},
      </if>
      <if test="threshold != null">
        threshold = #{threshold,jdbcType=VARCHAR},
      </if>
      <if test="param != null">
        param = #{param,jdbcType=VARCHAR},
      </if>
      <if test="alarmCondition != null">
        alarm_condition = #{alarmCondition,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.github.tanhao1410.thesis.management.domain.MonitoringItemDO">
    update monitoring_item
    set device_id = #{deviceId,jdbcType=BIGINT},
      monitoring_id = #{monitoringId,jdbcType=BIGINT},
      threshold = #{threshold,jdbcType=VARCHAR},
      param = #{param,jdbcType=VARCHAR},
      alarm_condition = #{alarmCondition,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectCountSelective" resultType="java.lang.Long">
    select count(1) from monitoring_item
    <where>
      <if test="record.deviceId != null">
         and device_id = #{record.deviceId,jdbcType=BIGINT}
      </if>
      <if test="record.monitoringId != null">
         and monitoring_id = #{record.monitoringId,jdbcType=BIGINT}
      </if>
      <if test="record.threshold != null">
         and threshold = #{record.threshold,jdbcType=VARCHAR}
      </if>
      <if test="record.param != null">
         and param = #{record.param,jdbcType=VARCHAR}
      </if>
      <if test="record.alarmCondition != null">
         and alarm_condition = #{record.alarmCondition,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="selectPageSelective" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
     from monitoring_item
    <where>
      <if test="record.deviceId != null">
         and device_id = #{record.deviceId,jdbcType=BIGINT}
      </if>
      <if test="record.monitoringId != null">
         and monitoring_id = #{record.monitoringId,jdbcType=BIGINT}
      </if>
      <if test="record.threshold != null">
         and threshold = #{record.threshold,jdbcType=VARCHAR}
      </if>
      <if test="record.param != null">
         and param = #{record.param,jdbcType=VARCHAR}
      </if>
      <if test="record.alarmCondition != null">
         and alarm_condition = #{record.alarmCondition,jdbcType=VARCHAR}
      </if>
      <if test="pageable.sort != null">
         order by 
        <foreach collection="pageable.sort" item="order" separator=",">
          <if test="order.property == 'id' || order.property == 'device_id'  || order.property == 'monitoring_id'  || order.property == 'threshold'  || order.property == 'param'  || order.property == 'alarm_condition' ">
             ${order.property} ${order.direction} 
          </if>
        </foreach>
      </if>
      <if test="pageable.offset >= 0 and pageable.pageSize > 0">
        limit ${pageable.offset}, ${pageable.pageSize}
      </if>
    </where>
  </select>
  <update id="batchDeleteByPrimaryKey" parameterType="java.util.List">
    update monitoring_item set isactive = 0 where id in 
    <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
       ${item} 
    </foreach>
    and isactive = 1
  </update>
  <insert id="insertSelectiveReturnPrimaryKey" parameterType="com.github.tanhao1410.thesis.management.domain.MonitoringItemDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      select LAST_INSERT_ID() as id
    </selectKey>
    insert into monitoring_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deviceId != null">
        device_id,
      </if>
      <if test="monitoringId != null">
        monitoring_id,
      </if>
      <if test="threshold != null">
        threshold,
      </if>
      <if test="param != null">
        param,
      </if>
      <if test="alarmCondition != null">
        alarm_condition,
      </if>
    </trim>
    <trim prefix=" values (" suffix=")" suffixOverrides=",">
      <if test="deviceId != null">
        #{deviceId,jdbcType=BIGINT},
      </if>
      <if test="monitoringId != null">
        #{monitoringId,jdbcType=BIGINT},
      </if>
      <if test="threshold != null">
        #{threshold,jdbcType=VARCHAR},
      </if>
      <if test="param != null">
        #{param,jdbcType=VARCHAR},
      </if>
      <if test="alarmCondition != null">
        #{alarmCondition,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="batchInsert" parameterType="com.github.tanhao1410.thesis.management.domain.MonitoringItemDO">
    insert into monitoring_item (device_id,monitoring_id,threshold,param,alarm_condition ) values 
    <foreach collection="list" index="index" item="item" separator=",">
       (#{item.deviceId,jdbcType=BIGINT},#{item.monitoringId,jdbcType=BIGINT},#{item.threshold,jdbcType=VARCHAR},#{item.param,jdbcType=VARCHAR},#{item.alarmCondition,jdbcType=VARCHAR} ) 
    </foreach>
  </insert>
  <select id="batchSelectByPrimaryKey" parameterType="java.util.List" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
     from monitoring_item where id in
    <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
       ${item} 
    </foreach>
  </select>
  <insert id="insertIgnoreSelective" parameterType="com.github.tanhao1410.thesis.management.domain.MonitoringItemDO">
    insert ignore into monitoring_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deviceId != null">
        device_id,
      </if>
      <if test="monitoringId != null">
        monitoring_id,
      </if>
      <if test="threshold != null">
        threshold,
      </if>
      <if test="param != null">
        param,
      </if>
      <if test="alarmCondition != null">
        alarm_condition,
      </if>
    </trim>
    <trim prefix=" values (" suffix=")" suffixOverrides=",">
      <if test="deviceId != null">
        #{deviceId,jdbcType=BIGINT},
      </if>
      <if test="monitoringId != null">
        #{monitoringId,jdbcType=BIGINT},
      </if>
      <if test="threshold != null">
        #{threshold,jdbcType=VARCHAR},
      </if>
      <if test="param != null">
        #{param,jdbcType=VARCHAR},
      </if>
      <if test="alarmCondition != null">
        #{alarmCondition,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>